.stepIndicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
}

.stepIndicatorContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.loginButton,
.backButton {
  width: 100%;
}
.loginButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 10px;
}
