.vectorInput {
  position: relative;
  margin-bottom: var(--ant-margin-md);
  border-radius: var(--ant-border-radius);
  border: 1px solid var(--ant-color-primary);
  padding: var(--ant-padding-md);
}
.closeIcon {
  position: absolute;
  right: var(--ant-padding-md);
  top: var(--ant-padding-md);
  cursor: pointer;
  z-index: 10;
  color: var(--color-gray);
}
